<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>160603413044-8puvlhekoekdp805f8lgl9mte5vntdnr.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.160603413044-8puvlhekoekdp805f8lgl9mte5vntdnr</string>
	<key>API_KEY</key>
	<string>AIzaSyDtfT7W4vDH65A5ua1JJoBjO7LaVJXE8OY</string>
	<key>GCM_SENDER_ID</key>
	<string>160603413044</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.helloWorld</string>
	<key>PROJECT_ID</key>
	<string>fresh-plus-osam</string>
	<key>STORAGE_BUCKET</key>
	<string>fresh-plus-osam.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:160603413044:ios:5b9fd3ab01284814928861</string>
</dict>
</plist>